*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
background-color: aquamarine;
font-family: sans-serif;
}

.container {
display: flex;
background-color: blue;
}

/*
Flex-shrink -> Esta propiedad funciona como un factoir de contraccion de encojimiento,
reduccion de los elementos de un contenedor flex.

Flex-shrink: Este el valor por default de los items. Si no se declara esto es lo que aplica

Recibe valores numericos: 1 2 3 4
*/

.item{
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: brown;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
}

.apachurro1{
flex-grow: 4;
flex-shrink: 1;
}

.apachurro2{
flex-grow: 3;
flex-shrink: 2;
}

.apachurro3{
flex-grow: 2;
flex-shrink: 3;
}

.apachurro4{
flex-grow: 1;
flex-shrink: 4;
}
