*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
background-color: aquamarine;
font-family: sans-serif;
}

/*
GAP -> Espacio entre los elementos

Recibe valores en numeros con unidades relativas o absolutas

Esta propiedad se pasa al contenedor
*/

.container {
width: 500px;
display: flex;
flex-wrap: wrap;
/*gap: 24px;
gap: 4rem; */
column-gap: 24px;
row-gap: 32px;
gap: 4px 32px;
background-color: blue;
}

.item{
    width: 100px;
    height: 100px;

    background-color: brown;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
}
