*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
background-color: aquamarine;
font-family: sans-serif;
}

.container {
display: flex;
background-color: blue;
}


/*Proipiedades de Flexbox para los items

Flex-grow -> Esta propiuedad ajustra el factor de crecimiento de los elementos 
en funcion del espacio disponibles, el valor por default es auto

Esta propiedad es de valores numericoas 1 2 3 4

El numero que coloquemos es el factor de crecimiento


*/

.item{
    flex-grow: auto;
    flex-grow: 1;
    background-color: brown;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
}

.puchunguito1{
    flex-grow: 20;
    background-color: red;
    color: white;
    }
    
.puchunguito2{
    flex-grow: 15;
    background-color: green;
    color: white;
}
        

.puchunguito3{
    flex-grow: 10;
    background-color: blueviolet;
    color: white;
}
    
.puchunguito4{
    flex-grow: 4;
    background-color: blue;
    color: white;
}
